<html>
<head>
<title>Edit Comment</title>
<style>
body {background-color:tan;}
h1 {color:sienna;margin:auto;text-align:center;font-size:60px;}
form {max-width:fit-content;margin:auto;text-align:center; background-color:white; outline:5px solid sienna;padding:10px;}
input, select {margin:5px;}
p {font-size:20px; color:#5d3c24; text-align:center;}
header {color:red; background-color:white; text-align:center;}
.hidden {color:white;}
.text {width:500px;}
</style>
</head>

<body>
<header>{{msg}}</header>
<h1>Edit Comment</h1>
<br><br>

<form action={{url_for("commitComment")}} method="GET">
<input type=hidden name='oldComment' value="{{comment}}"/>
<input type=hidden name='game' value="{{game}}"/>
Comment:
<input class="text" type=text name="newComment" value="{{comment}}" required/><br>

<input type=submit value="Edit"/>

</form>
</body>
</html>
